@model List<Product>
<partial name="_ThongBao" />

<div class="text-end">
    <a asp-action="Add" class="btn btn-success"> <i class="bi bi-plus-circle"></i>Add New</a>
</div>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Action</th>


    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@p.Category.Name</td>
            <td>
                @if (p.ImageUrl != null)
                {
                    <img src="@p.ImageUrl " style="width:100px" />

                }
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@p.Id" class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Update</a>
                <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger"><i class="bi bi-trash3"></i>Delete</a>
            </td>


        </tr>
    }

</table> 
<div class="pagination" style="margin-top: 20px; text-align: center;">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == ViewBag.CurrentPage)
        {
            <span style="margin: 0 5px; font-weight: bold; color: white;">@i</span>
        }
        else
        {
            <a href="?page=@i" style="margin: 0 5px; color: lightblue;">@i</a>
        }
    }
</div>